html {
    font-family: 'Special Elite', cursive;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
    padding: 0 20px;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}

footer h3, footer p {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

button {
    background-color: black;
    border: none;
    color: white;
    font: inherit;
    padding: 0.5rem 0;
    border: 1px black solid;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px black solid;
}

.output-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

.output-section p {
    display: flex;
    align-items: center;
    gap: 10px;
}

#output, textarea {
    padding: 6px;
    min-height: 150px;
    border: 1px solid black;
    font: inherit;
}

.invalid {
    border: 2px solid red;
}